.about {
  

  .brief {
    display: block;
    overflow: hidden;    
    background: url(../../assets/common/background.jpg) left bottom no-repeat;
    background-color: #f6f4ee;
    margin: auto;

    .brief_content {
      background-attachment: fixed;
      background: url(../../assets/common/index_background.jpg) right top no-repeat;
      display: block;
      text-align: left;
      width: 1280px;
      line-height: 1.5;

      h2 {
        font-size: 2.5em;
        color: #763f00;
        width: 500px;
        margin-left: 100px;
      }

      p {
        color: #5d4d4d;
        font-size: 1.5em;
        width: 500px;
        margin-left: 100px;
      }
  
      img {
        width: 300px;
        margin-top: 100px;
        margin-left: 100px;
      }

    }
  }

  .map {
    position: relative;

    .transport {
      width: 1280px;
      margin: auto;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}