.news {
  background: url(../../../assets/common/index_background.jpg) no-repeat right top #f6f4ee;
  
  padding: 100px 0;

  .article {
    width: 1280px;
    margin: auto;

    .title {
      font-size: 50px;
      color: #763f00;
      margin-bottom: 50px;
      margin-right: 200px;
    }

    .date {
      background-color: #f9b5b4;
      padding: 5px;
      color: #ffffff;
      display: inline-block;
    }

    .content {
      font-size: 18px;
      line-height: 2;
      color: #5d4d4d;
      padding: 50px 50px 50px 0;

      p {
        margin-bottom: 40px;
      }

      // border-bottom: 3px dashed #f9bfc0;
      // border-top: 3px dashed #f9bfc0;
    }
  }
}