.home {
  background-size: cover;
  overflow: hidden;

  background: linear-gradient(135deg, rgba(248, 180, 179, 1), rgba(255, 241, 194, 1));

  .home_poster {
    position: relative;

    .prev {
      left: 30px;
    }

    .next {
      right: 30px;
    }
  }

  .album {
    img {
      width: 100%;
    }
  }

  .programme {
    background-size: cover;
    overflow: hidden;
  
    background: linear-gradient(135deg, rgba(248, 180, 179, 1), rgba(255, 241, 194, 1));

    .programme_tilte {
      font-size: 40px;
      text-align: center;
      position: relative;
      z-index: 1;
      color: #fff;
      margin: 80px;

    }

  
    .film_detail {
      .detail_plot {
        display: flex;
        padding: 30px;
      }
  
      .detail_title {
        font-size: 18px;
        width: 36px;
        margin-right: 10px;
      }
  
      .detail_desc {
        color: #202020;
        font-size: 14px;
        line-height: 2;
        white-space: pre-wrap;
      }
    }
  
    .hot {
      display: flex;
      width: 150%;
      margin-left: -25%;
      padding: 40px 0;
      overflow: hidden;
      position: relative;
      flex-direction: column;

      .nav {
        border: 1px solid #ffffff;
        height: 50px;
        width: 50px;

      }
  
      .hot_title {
        font-size: 20px;
        width: 40px;
      }
  
      .background {
        position: absolute;
        background-size: cover;
        background-position: center center;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        filter: blur(20px);
        opacity: .6;
      }
  
      .hot_content {
        flex: 1;
        position: relative;
        z-index: 1;
      }
  
      .pagination {
        height: 10px;
      }
  
      .film_meta {
        position: relative;
        z-index: 1;
        text-align: center;
        color: #202020;
  
        .meta_title {
          font-size: 16px;
        }
  
        .meta_data {
          font-size: 12px;
          opacity: 0.8;
          width: 60%;
          text-align: center;
          margin: auto;
        }

        .button {
          color: #202020;
          padding: 7px 20px;
          display: block;
          border: 1px solid #202020;
          width: 120px;
          margin: 20px auto;  
          
          &:active {
            background: #202020;
            color: #fff;
          }
        }
      }
  
      .swiper_film {
        width: 300px;
        // height: 450px;
  
        .inner {
          margin: 40px 15px;
          box-sizing: border-box;
          flex: 1;
        }
  
        .background {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-size: 200% 200%;
          filter: blur(40px);
          opacity: .5;
        }
  
        .foreground {
          flex: 1;
          position: relative;
          z-index: 1;
          display: flex;
          align-items: center;
          justify-content: center;
        }
  
        .poster {
          font-size: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.35);
  
          img {
            width: 100%;
          }
        }
  
        .content {
          margin-left: 10px;
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          width: 0;
  
          .actions {
            display: flex;
  
            .button {
              background: hsla(0,0%,100%,.35);
              box-shadow: 0 0.02rem 0.08rem 0 rgba(0,0,0,.1);
              border-radius: 5px;
              font-size: 14px;
              width: 47.61904762%;
              height: 30px;
              color: #fff;
              border: none;
              padding: 0;
  
              &:active {
                background: hsla(0,0%,100%,.1);
              }
            }
          }
  
          .files {
            flex: 1;
            width: 100%;
  
            .title {
              font-size: 18px;
              color: #fff;
            }
  
            .info {
              font-size: 12px;
              color: #fff;
              opacity: .8;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
            }
          }
        }
      }
    }  
  
  }

  .message {
    padding: 50px 30px;

    .message_context {
      display: flex;
    }


    .message_button {
      color: #202020;
      padding: 7px 20px;
      display: block;
      border: 1px solid #202020;
      width: 120px;
      margin: 20px auto;
      text-align: center;

      &:active {
        background: #202020;
        color: #fff;
      }
    }

    .message_button_link {
      color: #202020;
    }

    .loading {
      text-align: center;
      padding: 30px;
      color: #202020;
      opacity: .8;
    }

    .message_title {
      font-size: 20px;
      color: #202020;
      position: relative;
    }

    .message_title::after {
      content: "";
      position: absolute;
      height: 100px;
      width: 5px;
      left: -30px;
      background: #f8b5b3;
      top: 0;
    }

    .message_content {
      flex: 1;
      margin-left: 10px;
    }

    .news_item {
      position: relative;
      padding: 0 0 15px 0;
      margin-bottom: 15px;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 1px;
        background: rgb(253 213 186);
      }

      &:last-child::after {
        display: none;
      }

      .news_link {
        color: #202020;
        opacity: 0.8;
        display: block;
        margin: 0 20px;

        &:hover {
          opacity: .8;
        }

        .news_title {
          font-size: 16px;
        }
  
        .news_brief {
          font-size: 14px;
          color: #202020;
          opacity: .8;
          margin-top: 5px;
          overflow: hidden;
          font-size: 14px;
          line-height: 1.5;
        }
      }

    }
  } 
}


@media screen and (min-width: 600px) {
  .home {

    .programme {
      .hot {
        .swiper_film {
    
          .poster {
            width: 220px;
          }
        }
      }
    }
  }
}