.news {
  padding: 80px 0;
  background-size: cover;
  overflow: hidden;

  background: linear-gradient(135deg, rgba(248, 180, 179, 1), rgba(255, 241, 194, 1));

  .news_title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    color: #754102;
  }

  .news_title:active,
  .news_title:hover {
    opacity: .8;
  }

  .news_link {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    color: #754102;
  }

  .news_link:active,
  .news_link:hover {
    opacity: .8;
  }
}

