.news {
  background-color: #f6f4ee;
  padding: 100px 0;

  .section {
    width: 1280px;
    margin: auto;
    display: flex;
  }

  .content {
    flex: 1;
  }

  .aside {
    width: 265px;
    margin-left: 80px;

    .title {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }

  .news_item {
    .news_title {
      font-weight: normal;
      font-size: 16px;
    }

    .news_time {
      color: #afafaf;
      font-size: 14px;
    }

    margin-bottom: 10px;
  }
}