.purchase {

  .purchase_mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
  }

  .purchase_content {
    position: fixed;
    max-width: 400px;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
  }
}